In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
path = "DataSet_Absenteeism_CSV.csv"
df_ab = pd.read_csv(path)
df_ab

     COUNTRY_REGION;NAME_COUNTRY;YEAR;VALUE
0                     AND;Andorra;1996;9.77
1                      AND;Andorra;1998;8.5
2                      AND;Andorra;1999;8.9
3                     ARM;Armenia;1980;6.73
4                     ARM;Armenia;1987;6.57
...                                     ...
1192                 UZB;Uzbekistan;2016;10
1193               UZB;Uzbekistan;2017;10.1
1194                UZB;Uzbekistan;2018;9.8
1195                UZB;Uzbekistan;2019;9.8
1196          WHO_EURO;Uzbekistan;1995;10.7

[1197 rows x 1 columns]