In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [5]:
path = "DataSet_Absenteeism_.xlsx"
df_ab = pd.read_excel(path)
df_ab

     COUNTRY_REGION NAME_COUNTRY  YEAR  VALUE
0               AND      Andorra  1996   9.77
1               AND      Andorra  1998   8.50
2               AND      Andorra  1999   8.90
3               ARM      Armenia  1980   6.73
4               ARM      Armenia  1987   6.57
...             ...          ...   ...    ...
1192            UZB   Uzbekistan  2016  10.00
1193            UZB   Uzbekistan  2017  10.10
1194            UZB   Uzbekistan  2018   9.80
1195            UZB   Uzbekistan  2019   9.80
1196       WHO_EURO   Uzbekistan  1995  10.70

[1197 rows x 4 columns]

In [6]:
df_ab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   COUNTRY_REGION  1197 non-null   object
 1   NAME_COUNTRY    1197 non-null   object
 2   YEAR            1197 non-null   int64
 3   VALUE           1197 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 37.5+ KB

In [8]:
df_ab.isna().sum()

COUNTRY_REGION    0
NAME_COUNTRY      0
YEAR              0
VALUE             0
dtype: int64

In [ ]:
#keep only years between 2015 and 2020 to match the other df